:root {
	--col-bg-primary: #ffffff;
	--col-bg-secondary: #ededed;

	--col-text-primary: #111;
	--col-text-secondary: #4c4c4c;
}

* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 16px;
	line-height: 1.5;
	font-weight: 400;
	font-style: normal;
	font-family: "Familjen Grotesk", system-ui, -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
		"Open Sans", "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
	font-size: 1rem;
	line-height: 1.3;
	font-weight: 400;
}

body {
	background-color: var(--col-bg-secondary);
}

.wrapper {
	display: flex;
	width: min(100%, 1024px);
	min-height: 100svh;
	margin: 0 auto;
	gap: 32px;
}

main {
	flex: 1;
	background-color: var(--col-bg-primary);
	margin-top: 32px;
	border-radius: 8px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
	overflow: hidden;
	padding: 16px 24px;
}

aside {
	max-width: 256px;
	padding-top: 44px;
}

aside .posts-section {
	margin-top: 32px;
}

aside h2 {
	font-size: 0.8rem;
	color: var(--col-text-secondary);
}

aside .muted {
	font-size: 0.8rem;
}

.sidebar-link {
	text-decoration: none;
	color: var(--col-text-primary);
	font-size: 0.8rem;
}

.sidebar-link:hover {
	color: var(--col-text-secondary);
}

a {
	color: inherit;
}

.muted {
	color: var(--col-text-secondary);
}

.post {
	color: var(--col-text-secondary);
}

.post .date {
	font-size: 0.8rem;
}

.post h1 {
	font-size: 1.8rem;
	line-height: 1.3;
	color: var(--col-text-primary);
}

.post-content {
	margin-top: 16px;
}

.post-content p {
	margin-bottom: 16px;
}

.post-content ol,
.post-content ul {
	margin-left: 32px;
	margin-bottom: 16px;
}

.post-content pre {
	background-color: var(--col-bg-secondary);
	padding: 8px 12px;
	margin-bottom: 16px;
}
