:root {
	--col-bg-primary: #ffffff;
	--col-bg-secondary: #ededed;
}

* {
	margin: 0;
	padding: 0;
}

html {
	line-height: 1.5;
	font-weight: 400;
	font-style: normal;
	font-family: "Familjen Grotesk", system-ui, -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
		"Open Sans", "Helvetica Neue", sans-serif;
}

body {
	background-color: var(--col-bg-secondary);
}

main {
	background-color: var(--col-bg-primary);
	width: min(100%, 600px);
	min-height: 100svh;
	margin: 0 auto;
}
