{% layout 'site' %}

{% block site %}
<h1>Albin Landgren</h1>
<p class="muted">
  Software engineer working at <a href="https://grebban.com" target="_blank">Grebban</a> with some of the most iconic
  Scandinavian brands of today and tomorrow.
</p>
{% endblock site %}
