{% layout 'html' %}

{% block html %}
<div class="wrapper">
  <aside>
    albinlandgren.com

    <div class="posts-section">
      <h2>Posts</h2>
      <div>
        {% for post in post_data %}
          <a href="{{ post.slug }}" class="sidebar-link">
            {{ post.title }}
          </a>
        {% endfor %}
      </div>
    </div>
  </aside>

  <main>
    {% block site %}
    {% endblock site %}
  </main>
</div>
{% endblock html %}
